* {
  font-family: "Open Sans", sans-serif;
  font-family: bold;
  font-weight: bold;
  font-size: 32px;
  line-height: 150%;
  box-sizing: border-box;
  background: rgb(203, 222, 243);
}
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  cursor: pointer;
}
main {
  width: 100vw;
  height: 100vh;
}
.botoes {
  text-decoration: none;
  display: inline-block;
  margin-top: 1rem;
  border-radius: 24px;
  height: 70px;
  width: 365px;
  transition: 0.5s;
  cursor: pointer;
  background-color: #0a3871;
  color: white;
}
.botoes:hover {
  font-size: 35px;
}

/*classe para ocultar os elementos*/
.ocultar {
  transition: all 1s;
  display: none;
}
.footer img {
  cursor: pointer;
}
.divFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-weight: bold;
  color: #494242;
}
@media (min-width: 425px) {
}
@media (min-width: 768px) {
  .divFooter {
    justify-content: flex-start;
  }
}
@media (min-width: 1200px) {
}
