*{
    font-family: 'Open Sans', sans-serif;
    font-family: bold;
    font-weight: bold;
    font-size: 32px;
    line-height: 150%;
}
body{
    background: rgb(203, 222, 243)
}
.main{
    display: flex;
    margin-left: 100px;
    margin-bottom: 50px;
}
.logo{
    padding-top: 40px;
    cursor: pointer;
}
#espaco-desenho{
    margin-top: 20px;
    margin-left: 350px;
    display: block;
    position: absolute;
}
.resultado{
    font-size: 40px;
    margin-top: 180px;
    margin-left: 1100px;
    position: absolute;
    display: block;
}
.botoes{
    text-decoration: none;
    display:inline-block;
    margin-top: 10px;
    border-radius: 24px;
    height: 70px;
    width: 365px;
    box-sizing: border-box;
    transition: 0.5s;
    cursor: pointer;
    background-color: #0A3871;
    color: white;
    margin-left: 200px;
}
.botoes:hover{
    font-size: 35px;
}
#comecar{
    border-radius: 12px;
    height: 150px;
    width: 328px;
    box-sizing: border-box;
    margin-left: 800px;
    display: block;
    margin-top: 300px;
}
#adicionar-palavra{
    border-radius: 30px;
    background: #D8DFE8;
    color: #495057;
    margin-left: 783px;
    margin-top: 40px;
    
}
.letras-certas, .letras-erradas{
    margin-left: 600px;
    color: #0A3871;
    padding: 35px;
    box-sizing: border-box;
    position: absolute;
    font-size: 60px;
    font-weight:normal;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.letras-certas{
    margin-top: 400px;
    text-transform: uppercase;
}
.letras-erradas{
    margin-top: 500px;
}
#novo-jogo{
    margin-top: 630px;
    margin-left: 450px;
}
#desistir{
    margin-top: 630px;
    margin-left: 100px;
    background: #D8DFE8;
    color: #495057;
    border-radius: 30px;
}
.input-palavra-nova{
    background: none;
    font-size: 40px;
    color: #0A3871;
    border: none;
    margin-left: 550px;
    margin-top: 150px;
    outline: 0;
}
.texto-aviso{
    position: absolute;
    margin-left: 530px;
    margin-top:  350px;
    font-size: 20px;
    color: #495057;
}
.exclamacao{
    position: absolute;
    margin-left: 510px;
    margin-top:  367px;
}
#salvar{
    margin-top: 400px;
    margin-left: 500px;
}
#cancelar{
    margin-top: 200px;
    margin-left: 100px;
    border-radius: 30px;
    background: #D8DFE8;
    color: #495057;
    height: 70px;
    width: 358px;
    transition: 0.5s;
}
#cancelar:hover{
    font-size: 35px;
}
/*imagem do gitHub*/
#github{ 
    position: absolute;
    padding: 40px 330px;
    
}
/*rodape*/
footer img{
    cursor: pointer;
    
}
footer p {
    margin-top: 50px;
    position:absolute;
    padding: 60px 90px;
    font-weight: bold;
    color: #494242;
}
/*classe para ocultar os elementos*/
.ocultar{
    transition: all 1s;
    display: none;
}