#salvar{
    margin-top: 400px;
    margin-left: 500px;
}
#cancelar{
    margin-top: 200px;
    margin-left: 100px;
    border-radius: 30px;
    background: #D8DFE8;
    color: #495057;
    height: 70px;
    width: 358px;
    transition: 0.5s;
}
#cancelar:hover{
    font-size: 35px;
}
#adicionar-palavra{
    border-radius: 30px;
    background: #D8DFE8;
    color: #495057;
    
}
.input-palavra-nova{
    background: none;
    font-size: 40px;
    color: #0A3871;
    border: none;
    margin-left: 550px;
    margin-top: 150px;
    outline: 0;
}
.texto-aviso{
    position: absolute;
    margin-left: 530px;
    margin-top:  350px;
    font-size: 20px;
    color: #495057;
}
.exclamacao{
    position: absolute;
    margin-left: 510px;
    margin-top:  367px;
}