.desenho-forca {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
}

.divResultado {
  text-align: center;
  width: 50%;
  height: 20%;
}

#desistir {
  background: #d8dfe8;
  color: #495057;
  border-radius: 30px;
}

.resultado {
  font-size: 40px;
}

.letras-certas,
.letras-erradas {
  color: #0a3871;
  padding: 35px;

  font-size: 60px;
  font-weight: normal;
  font-family: "Inter", sans-serif;
  font-family: "Open Sans", sans-serif;
}
.letras-certas {
  text-transform: uppercase;
}

.botoes-finais {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
