.desenho-forca {
  height: 70vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divResultado {
  text-align: center;
  width: 50%;
  height: 40%;
}
#novo-jogo{
  background-color: var(--backgroundAzulEscuro);
  color: var(--branco)
}
#desistir {
  background: var(--cinzaClaro);
  color: var(--cinza);
  margin-top: 1rem;
  
}
.resultado {
  font-size: 2.5rem;
}
.letras-certas,
.letras-erradas {
  color: var(--backgroundAzulEscuro);
  padding: 1rem;
  font-size: 3.5rem;
  font-weight: normal;
  font-family: "Inter", sans-serif;
  font-family: "Open Sans", sans-serif;
}
.letras-certas {
  text-transform: uppercase;
}
.botoes-finais{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width:768px) {
  .botoes-finais {
    flex-direction: row;
    justify-content: space-evenly;
  }
  #desistir{
    margin-top: 0;
  }
}